language: python
python:
- '2.7'
- '3.4'
install:
- pip install -r requirements/base.txt
- pip install -r requirements/development.txt
script: nosetests
before_install:
- chmod +x ./initiate-publish.sh
- openssl aes-256-cbc -K $encrypted_774a281ca2e8_key -iv $encrypted_774a281ca2e8_iv
  -in .pypirc.enc -out .pypirc -d
after_success:
- "./initiate-publish.sh"
