language: python
python:
- '3.4'
- '2.7'
install:
- pip install -r requirements/base.txt
- pip install -r requirements/development.txt
script: nosetests
deploy:
  provider: pypi
  server: https://testpypi.python.org/pypi
  user: $USER
  password: $PASS
  on:
    distributions: sdist bdist_wheel
    repo: stefanGhivi/mangopay2-python-sdk
    branch: release
    tags: false
    condition: $TRAVIS_PYTHON_VERSION = "3.4"
env:
  global:
  - secure: Xj0BjJAhU69lkrOOkspFD6KzGKiq9hcwoh5K8wX1RVeimr5lZR75Y26GRBY9RBGh2Sjbn2HhdwSD90m9/MXuv7wRs4JGTy7KZtpTOhZZy9SPbyTlEagEVGOQ+VtjI5we8VLgekQPcwCGesv0UD4ZoB3cFOj+UpeueyHaq57V+hvh84OgEqbdRYoT9cpK0Y1t0E1t0QG1aF8mpbhj2TzUfvlv8nEjR0jEsIe8n+S4XKNlfmhonB3rBzpLGM5iIiM//fFYSLcQ27U6fnCLp/0ICQJdALaXOsaI7arHRBAEFJW21c4dQMzzm5W3wyiTLRisH2Wup2SQ7sOg3NBLL/OhcMqP4JgJ1k7ToOcOf1CJAybzRmWrbobDNR4mx/N0ZYIQQv5FGRwI3ro99t8x5Y7ABjWTXrS0DxidNh6lbGSWTvGMnLHfzBXeDqNVZcfQtagIeCYTMlHpYbTZxndcNQi15qyakBkyTzrBNrcccZTU5tIqsH6rhLJJSmWGY0Nkr6nc7u2dEdla4x9jWVOpjYpeI278/3+BKQQIwc0ICTSZPLd1YDK/ttrjow+jWsdgbmbK2EVVblO+mx+/6Bpaa6Rd4waLSIo+5YL+YcrhviJQV6uhn6IHWlV52bu6GaIewXg37Y+swVpJYMlQ+ClBa8LE5Ya796nlfiHIo9+b2Q7m5N0=
  - secure: MmSzP29OO1u4eZyk41l03emb4DdgXiykYM3AzqIbm1nsBIkGzIiaK6LfatYJbbkBkSAK0pOPH1G2584Kuah0pQXvskKQBgYoTGW/iyGpUdWMtvGlP8w9lkJ1hlEmHjk19hDDwoGmLJjzD3YcMHFeJUcev+OK32Qo5gsRzju/0hrN97J4KQ+dOvPRGstYlRZpOFovEoeVKr7n3TCebhkw0JfaJoes48DKoww8Wj+r95ILvhp3ARDUFPMudn39G2QJKt6gmxYebPzAnd2VA/iK8fte8ni66QhWV+UvvQ2aDB4c8bUkWPhZTovwhwqd3PcgK5pjmSjC6KrzzTWhR6S2aEQX3G2bFdJhwGbY6S0l+wnOrjBiX7uS3f7wpjt9RZZKt5ZoWcebat+VHqXrXku1EMVjT/CjYuqyqrG7+/kwWbzUdYNKAR9GZ0bq9KQJls15QNwmk+d5v1G2RFZsF72dlB8Z2AP5omNRfUhdAlKc2PL4LsL70L1A57xwPHUC8f56B0tzNY6e9fkJThzgYeLtzYDX37ayeZWBw4k9KmC+OVlW/huQqUHrUPnjJ84CCksQ1JnuMdnkQwpEeaCEG8rRYI1SiXl49K78TaYDW8ACSn+ZbaG29ofmoO2jUT02LD9qZy6S0MWtzo/Y5sb8fzo4tyfluh6o5yun3AQlbbqDQVY=
